

# Ignore everything except...
/**

!/.gitignore

!/Ships/
/Ships/*

!/Ships/Script/
!/Ships/Script/**

!/saves/
/saves/*

!/saves/2021B/
/saves/2021B/*

!/saves/2021B/Ships/
!/saves/2021B/Ships/**

saves/2021B/Ships/VAB/Untitled Space Craft.craft
saves/2021B/Ships/VAB/Auto-Saved Ship.craft

saves/2021B/Ships/SPH/Auto-Saved Ship.craft
saves/2021B/Ships/SPH/Untitled Space Craft.craft

!/saves/2021B/Subassemblies/
!/saves/2021B/Subassemblies/**

*.loadmeta
*.ods#
